@font-face
  font-family: 'his'
  src:  url('common/fonts/his.eot?tj2j5y')
  src:  url('common/fonts/his.eot?tj2j5y#iefix') format('embedded-opentype'),
    url('common/fonts/his.ttf?tj2j5y') format('truetype'),
    url('common/fonts/his.woff?tj2j5y') format('woff'),
    url('common/fonts/his.svg?tj2j5y#his') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'his' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size:16px


.icon-packUp:before
  content: "\e90a"

.icon-spread:before
  content: "\e90b"

.icon-register:before
  content: "\e900"

.icon-nurse:before
  content: "\e901"

.icon-patient:before
  content: "\e902"

.icon-checkstand:before
  content: "\e903"

.icon-pharmacy:before
  content: "\e904"

.icon-DrugStorage:before
  content: "\e905"

.icon-doctor:before
  content: "\e906"

.icon-hospital:before
  content: "\e907"

.icon-WesternMedicine:before
  content: "\e908"

.icon-chineseMedicine:before
  content: "\e909"

